body {
    background-color: #0f0c29;
    color: white;
    font-family: 'Segoe UI', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
}

#nexus-app {
    width: 100%;
    max-width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

#user-grid {
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    border: 2px solid transparent;
    transition: 0.3s;
}

.speaking {
    box-shadow: 0 0 20px #ffd700;
}

#btn-voice {
    width: 100%;
    padding: 15px;
    border-radius: 30px;
    border: none;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#btn-voice.active {
    background: #ff4b2b;
}
